/* 
    Document    : blog
    Created on  : 08.02.2013, 14:06:56
    Author      : myTheme
    Version     : 0.0.1
    Description : Css rules for blog.css
    Author URI  : http://mythem.es
*/

/* LIST VIEW */
article{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
article > *{
    max-width: 100%;
}
section.list-view article{
    margin-top: 60px;
}
section.list-view article:first-child{
    margin-top: 0px;
}
section.list-view div.thumbnail{
    border:1px solid #454545;
    float: right;
    padding: 1px;
    margin: 0px 0px 0px 20px;
}
body.page section article p,
body.single section article p{
    font-size: 16px;
    line-height: 24px;
}
body.single section article div.thumbnail{
    margin: 0px 0px 20px 0px;
}

section article div.thumbnail footer{
    background: rgba(0, 0, 0, 0.60);
    border: none;
    color: #ffffff;
    margin: -40px 0px 40px 0px;
    padding: 10px;
    position: absolute;
    width: 610px;
}
section.template.full article div.thumbnail footer{
    width: 940px;
}
article div.social-share{
    margin-top: 20px;
}
article div.social-share a.fb-share{
    position: absolute;
    margin: -2px 0px 2px 0px;
}
section.list-view h2{
    margin-top: 0px;
}
section.list-view .meta{
    margin: 25px 0px 25px 0px;
}
section.list-view .meta,
section.list-view .meta a{
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 18px;
}
section.list-view .meta a{
    color: #dedede;
}
section.list-view .meta a:hover{
    color: #ff0099;
}
section.list-view .meta span.likes{
    margin-right: 10px;
}
section.list-view .meta a.like{
    color: #ff99ff;
}
section.list-view .meta a.like.liked{
    color: #ff0099;
}
section.list-view .author{
    border-bottom: 1px solid #2e2e2e;
    margin: 0px 0px 12px 0px;
    padding:0px 0px 12px 0px;
    margin-right: 170px;
}
section.list-view .meta-data span,
section.list-view .meta-data time{
    display: inline-block;
    float: left;
}

section.list-view .meta-data time{
    display: inline-block;
    width: 200px;
}
div.author-box img{
    float: left;
    margin: 0px 20px 20px 0px;
}
div.author-box p{
    color: #ededed;
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 18px;
    line-height: 30px;
}
div.author-box div.details{
    border-top: 1px solid #323232;
}

div.author-box div.details h4{
    font-family: "PT Sans Narrow",sans-serif;
    margin: 15px 0px 0px 0px;
}
div.author-box div.author-social{
    float: right;
    margin-top: 10px;
}
div.author-box div.author-social a{
    background-image: url("../images/author-social.icons.png");
    display: inline-block;
    float: left;
    height: 28px;
    margin-left: 4px;
    width: 28px;
    opacity: 0.9;
    filter:alpha(opacity=90);
}
div.author-box div.author-social a:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}
div.author-box div.author-social a:first-child{
    margin-left: 0px;
}
div.author-box div.author-social a.vimeo{
    background-position: 0px 0px;
}
div.author-box div.author-social a.twitter{
    background-position: 0px -28px;
}
div.author-box div.author-social a.facebook{
    background-position: 0px -56px;
}
div.author-box div.author-social a.google-plus{
    background-position: 0px -84px;
}
div.author-box div.author-social a.youtube{
    background-position: 0px -112px;
}
div.author-box div.author-social a.rss{
    background-position: 0px -140px;
}

/* AUDIO PLAYER SKIN */
.wp-playlist-light{
    background: #191919 !important;
    border: 1px solid #121212 !important;
    color: #999999 !important;
}

.mejs-container,
.mejs-embed,
.mejs-embed body{
    background: #333333 !important;
}

.wp-playlist-light .wp-playlist-playing{
    background: transparent !important;
    color: #ffffff !important;
}
.wp-playlist-current-item{
    background-image: url(../images/audio.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.wp-playlist-current-item img{
    opacity: 0;
    filter: alpha(opacity=0);
}

.wp-playlist-light .wp-playlist-playing a{
    color: #cdcdcd !important;
}

.wp-playlist-light .wp-playlist-item{
    border-top: 1px solid #333333 !important;
    border-bottom: none !important;
    color: #999999 !important;
    padding: 3px;
}

.wp-playlist-light .wp-playlist-item:first-child{
    border-top: none !important;
}

.wp-playlist-light .wp-playlist-item a{
    color: #999999 !important;   
}
.wp-playlist-light .wp-playlist-item a:hover{
    color: #ffffff !important;
}