i[class*="icon-"]{
    display: inline-block;
    float: left;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.large-icons i[class*="icon-"]{
    background-image: url("../images/content.icons.png");
    height: 16px;
    width: 16px;
    margin: 1px 12px 0px 0px;
}
.large-icons span.post-edit:hover i.icon-edit{
    background-position: 0px -16px;
}
.large-icons i.icon-author{
    margin: 2px 12px 0px 0px;
    background-position: 0px -32px;
}
.large-icons a:hover i.icon-author{
    background-position: 0px -48px;
}
.large-icons i.icon-date{
    background-position: 0px -96px;
}
div.widget_post_meta .large-icons i.icon-date{
    background-position: 0px -112px;
}
div.widget_post_meta .large-icons a:hover i.icon-date{
    background-position: 0px -128px;
}
.large-icons i.icon-comments{
    background-position: 0px -64px;
}
.large-icons a:hover i.icon-comments{
    background-position: 0px -80px;
}
.large-icons a i.icon-like{
    background-position: 0px -144px;
}
.large-icons a.liked i.icon-like,
.large-icons a:hover i.icon-like{
    background-position: 0px -160px;
}

.small-icons i[class*="icon-"]{
    background-image: url("../images/widget.icons.png");
    height: 13px;
    width: 12px;
    margin: 3px 5px 0px 0px;
}
.small-icons i.icon-date{
    background-position: 0 0;
}
.small-icons i.icon-comments{
    background-position: 0px -13px;
}
.small-icons a:hover i.icon-comments{
    background-position: 0px -26px;
}

div#comments i[class*="icon-"]{
    background-image: url("../images/comments.png");
    height: 16px;
    width: 18px;
    margin: 1px 6px 0px 0px;
}

div#comments i.icon-date{
    background-position: 0px 0px;
}
