/* 
    Document   : underconstruction
    Created on : 19.03.2013, 13:59:32
    Author     : myThemes
    Description: rulles for underconstruction
*/
.position-center{
    position: absolute;
    width:0px;
    height:0px;
    top: 50%;
    left: 50%;
    display: block;
}

.under-construction{
    position: absolute;
    margin-left: -480px;
    margin-right: 480px;
    width: 960px;
    display: block;
}

.under-construction .wrapper{
    width: 800px;
    padding: 80px 80px 50px 80px;
    margin: 0px;
}

.under-construction .content{
    width: 95%;
    margin: 0px auto;
    padding-top: 60px;
}

.under-construction div.template.custom.logo{
    float: left;
    width: 335px;
}

.under-construction div.template.custom.social{
    float: right;
    width: 330px;
}
.under-construction .content section article{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.under-construction .content section article,
.under-construction .content section article p{
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 18px;
    color: #666666;
}
.under-construction .content section article h1{
    margin-top: 0px;
}
.under-construction .content section article p{
    text-indent: 40px;
    line-height: 24px;
}
.under-construction .content form.subscribe{
    width: 84.25%;
    margin: 50px auto 0px auto;
}
.under-construction .content form.subscribe input[type="text"]{
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 18px;
    color: #bcbcbc;
    height: 40px;
    width: 69.625%;
    margin-right: 3%;
    border: 1px solid #b4b4b4;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.under-construction .content form.subscribe input[type="text"]:focus{
    color: #7f7f7f;
    border: 1px solid #b4b4b4;
}
.under-construction .content form.subscribe input[type="submit"]{
    position: absolute;
}
.under-construction footer{
    font-size: 12px;
    padding: 10px;
    background: #fafafa;
    width: 940px;
    margin-bottom: 0px;
}

.under-construction footer p{
    margin: 0px;
}
.under-construction footer nav{
    font: 0.80em/1.6em Helvetica, Arial,sans-serif;
    text-transform: uppercase;
}
.under-construction footer nav ul.children{
    display: none;
}